@font-face {
font-family: concourse_4;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('webfonts/concourse_4_regular.woff2') format('woff2');
}

@font-face {
font-family: concourse_4;
font-style: italic;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('webfonts/concourse_4_italic.woff2') format('woff2');
}

@font-face {
font-family: concourse_4;
font-style: normal;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('webfonts/concourse_4_bold.woff2') format('woff2');
}

@font-face {
font-family: concourse_4_caps;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('webfonts/concourse_4_caps_regular.woff2') format('woff2');
}

@font-face {
font-family: concourse_4_caps;
font-style: normal;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('webfonts/concourse_4_caps_bold.woff2') format('woff2');
}

@font-face {
font-family: century_supra_b;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('webfonts/century_supra_b_regular.woff2') format('woff2');
}

@font-face {
font-family: century_supra_a;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('webfonts/century_supra_a_regular.woff2') format('woff2');
}

@font-face {
font-family: century_supra_a;
font-style: italic;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('webfonts/century_supra_a_italic.woff2') format('woff2');
}

@font-face {
font-family: century_supra_a;
font-style: normal;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('webfonts/century_supra_a_bold.woff2') format('woff2');
}

@font-face {
font-family: concourse_index;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('webfonts/concourse_index_regular.woff2') format('woff2');
}